[Unit]
Description=HeartRater server - heart rate monitoring with MiBand4 and notifications
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/heartrater_server
Type=idle
PIDFile=/var/run/heartrate_server.pid

User=root
Restart=always

[Install]
WantedBy=multi-user.target
