 [Unit]
 Description=HeartRaterClient
 After=multi-user.target

 [Service]
 Type=idle
 PIDFile=/root/.heartrater/client_service.pid
 WorkingDirectory=/home/pi/heartrater/client

 User=root

 ExecStart=/usr/bin/python3 /home/pi/heartrater/client/client.py >/root/.heartrater/client_service.log 2>&1

 Restart=always

 [Install]
 WantedBy=multi-user.target
