 [Unit]
 Description=HeartRaterViberBot
 After=multi-user.target

 [Service]
 Type=idle
 PIDFile=/home/pi/.heartrater/viber_bot_service.pid
 WorkingDirectory=/home/pi/heartrater/viber_bot

 User=root

 ExecStart=/usr/bin/python3 /home/pi/heartrater/viber_bot/bot.py >/root/.heartrater/viber_bot_service.log 2>&1

 Restart=always

 [Install]
 WantedBy=multi-user.target
